.text{
  color: white;
  animation: color-change 5s;
  animation-timing-function: ease-in;
  animation-iteration-count: infinite;
}


.input{
  field-sizing: fixed;
  background-color: #282c34;
  border: none;
  box-shadow: inset 2px 5px 10px rgba(0,0,0,0.3);
  border-radius: 10px;
  padding: 1em;
  color: rgba(255, 255, 255, 0.837);
  margin-top: 20px;
}

.input::placeholder{
  color:white;
}
.input-div{
  position: fixed;
  bottom: 0;
  width: 50%;
  left:25%;
  height:42px;
  margin-bottom: 20px;
  padding: 16px;
  background: #222;
  border:none;
  border-radius: 200px;
  display: flex;
  align-items: end;
  justify-content: center;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.06);
  z-index: 1000;
}

.chat-input{
  border:none;
  outline: none;
  border-radius: 15px;
  padding: 1em;
  background-color: #2b2b2b;
  box-shadow: inset 2px 5px 10px rgba(0,0,0,0.3);
  color:white;
  width: 90%;
  margin-right: 20px;
}



.chat-button {
  position: relative;
  background-color: #dddddd;
  border-radius: 50%;
  font-size: 20px;
  cursor: pointer;
  padding: 5px;
  transition: color 0.2s;
  height:29px;
  width:29px;


}

.chat-button:hover {
  background-color: #ffffff80;
}

.arrow{
  border-radius: 100px;
  width:25px;
  padding-top: 2px;
}

.parent {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
  width: 50%;
}


.chat-area {
  width: 100%;
  height: calc(100vh - 300px);
  border-radius: 12px;
  padding: 20px;
  overflow-y: auto;

  display: flex;
  flex-direction: column-reverse;
  gap: 10px;
  padding-bottom: 100px;
  padding-top: 100px;

}

.textbox {
  padding: 12px 16px;
  border-radius: 16px;
  font-size: 16px;
  line-height: 1.4;
  word-wrap: break-word;
  word-break: break-word;
  max-width: 70%;
  color:white;
}


.textbox.user {
  align-self: flex-end;
  background-color: #222222;
  text-align: right;
}


.textbox.bot {
  align-self: flex-start;
  background-color: #383838;
  text-align: left; 
}


.chat-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  text-align: center;
  width: 100%;
  
}

.chat-area::-webkit-scrollbar {
  width: 6px;
}

.chat-area::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0);
}
