.foodCourse{
    color: #a7bade;
}

.foodName{
    color: #446fc5;
}

.apiContainer{
    margin-top: 80px;
}

.foodButton{
    background-color: #454f7d;
    color: white;
    border: rgb(201, 199, 199) 1px solid;
    border-radius: 6px;
    cursor: pointer;
    width: auto;
    height: auto;
}

.timeToCook{
    color: #c5c5c5;
}

.foodContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin: 2vh;
    border: black 3px solid;
}

.foodImage{
    max-width: 20vh;
    max-height: 20vh;
    border-radius: 8px;
    margin-right: 10px;
}

.foodRight{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
