.outerBox {
  position: relative;
  width: 100%;
  min-height: 180px;
  background-color: #515151;
  border: 1px solid #cccccc1c;
  border-radius: 10px;
  padding: 12px;
  box-sizing: border-box;
  z-index: 1;
  padding-bottom: 80px;
}

.send-button:hover {
  background-color: #002b82;
}

.input {
  field-sizing: fixed;
  background-color: #282c34;
  border: none;
  box-shadow: inset 2px 5px 10px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  padding: 1em;
  color: rgba(255, 255, 255, 0.837);
  margin-top: 20px;
}

.innerBox {
  position: relative;
  background-color: white;
  border: 1px solid #bbb;
  border-radius: 8px;
  width: 90%;
  margin: 0 auto;
  padding: 12px;
  box-sizing: border-box;
  color: #333;
  margin-top: -140px;
  z-index: 2;
}

.row-full {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 5vw;;
  align-items: center;
  justify-content: flex-start;
}

.box-wrapper {
  position: relative;
  width: 100%;
  margin: 0 auto;
}

.leChat-prompt {
  font-size: 15px;
  color: #222;
  white-space: nowrap;
}

.input-group {
  display: flex;
  gap: 8px;
  margin-top: 4px;
}

.send-button {
  padding: 8px 14px;
  font-size: 14px;
  background-color: #000b53;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}