.App {
  text-align: center;
}

.cat-img {
  height: 30vmin;
  position: relative;
  top: -100px;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .cat-img {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #ffffff;
}

.App-link:hover{
  color: rgb(0,165,206);
  transition:color .3s;
}

.text{
  color: white;
  animation: color-change 5s;
  animation-timing-function: ease-in;
  animation-iteration-count: infinite;
}

@keyframes color-change{
  0%, 16%{
    color: blue;
  }
  17%, 33%{
    color: green;
  }
  34%, 50%{
    color: yellow;
  }
  51%, 66%{
    color: orange;
  }
  67%, 83%{
    color: red;
  }
  84%, 100%{
    color: purple;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
