
.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #222;
}

.navBar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100px;
  width: 100%;
  background-color: #222;
  padding: 0;
  margin: 0;
  z-index: 5;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  align-items: center;
}


.header-buttons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    color:white;
}


.header-button{
position: relative;
text-decoration: none;
padding: 5px 5px 5px 5px;
font-size: 25px;
}

.header-button:hover {
color: rgb(0, 165, 206);
cursor:pointer;
transition:color .3s;
}

.header-button::before {
content: "";
position: absolute;
display: block;
width: 100%;
height: 1.5px;
bottom: 0;
left: 0;
background-color: rgb(0, 165, 206);
transform: scaleX(0);
transition: transform 0.3s ease;
}

.header-button:hover::before {
transform: scaleX(1);
}
